
abstract=This ontology defines academic disciplines according to the Wikipedia article https://en.wikipedia.org/wiki/Outline_of_academic_disciplines.  Disciplines are given as a multi-level hierarchy where some disciplines may show up under more than one upper level term (e.g., biogeology shows up as a child of both biology and geology).  Given that the NSF EarthCube program that led to this ontology is concentrated on the Geosciences, areas relevant to EarthCube were fully fleshed out beyond the first level in the hierarchy.  Contributions from others for other disciplines based on the wikipedia article are welcomed.  See https://github.com/earthcubearchitecture-ecresourcereg/Utility-Ontologies to contribute.
ontologyTitle=Academic disciplines Ontology
ontologyPrefix=[Ontology NS Prefix]
ontologyNamespaceURI=http://cor.esipfed.org/ont/earthcube/ADO
ontologyName=Academic disciplines Ontology
thisVersionURI=null
latestVersionURI=http://cor.esipfed.org/ont/earthcube/ADO
previousVersionURI=
dateOfRelease=
ontologyRevisionNumber=1.0.0
licenseURI=http://creativecommons.org/licenses/by-sa/4.0/
licenseName=http://creativecommons.org/licenses/by-sa/4.0/
licenseIconURL=null
citeAs=Duerr, R., 2019, "Academic Resource Ontology", Revision: 1.0.0., ESIP Community Ontology Repository, http://cor.esipfed.org/ont/earthcube/ADO 
DOI=
status=Stable
backwardsCompatibleWith=
publisher=null
publisherURI=null
publisherInstitution=null
publisherInstitutionURI=null
authors=Ruth Duerr
authorsURI=https://orcid.org/0000-0003-4808-4736
authorsInstitution=Ronin Institute for Independent Scholarship
authorsInstitutionURI=
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=
importedOntologyURIs=
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=ontology.xml
TurtleSerialization=ontology.ttl
N3Serialization=ontology.nt
JSONLDSerialization=ontology.json
